DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres"
TZ="Asia/Seoul"
PORT=4000
CORS_ORIGINS="http://localhost:8081"
NODE_ENV="production"
SENTRY_DSN=""
